@page "/"
@page "/dashboard"
@inject IJSRuntime _jsRuntime
<PageTitle>Dashboard</PageTitle>
<AuthorizeView>    
    <NotAuthorized>
        <h1 class="text-primary">If you want to show more functionality, please <a href="/login">login</a> !</h1>
    </NotAuthorized>
</AuthorizeView>
<h3 class="text-primary">Welcome to blazor</h3>


@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState{ get; set; }

    private async Task DisplayGreetingAlert()
    {
        var authState = await authenticationState;
        var message = $"Hello {authState.User.Identity.Name}";
        await _jsRuntime.InvokeVoidAsync("alert", message);
    }
}