@* 
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorProj</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="campaignList" Match="NavLinkMatch.All" @onclick="() => HandleCampaignListClick()">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Campaign                
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user" @onclick="() => HandleUserClick()">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> User
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="groceryStore" @onclick="() => HandleGroceryStoreClick()">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Grocery
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="programList" @onclick="() => HandleProgramListClick()">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Program
            </NavLink>
        </div>            
    </nav>
</div>

@code{
    private async Task HandleNavLinkClick(string href)
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity!.IsAuthenticated)
        {
            _navigationManager.NavigateTo(href);
        }
        else
        {
            _navigationManager.NavigateTo("/login");
        }
    }
    
    private Task HandleCampaignListClick() => HandleNavLinkClick("campaignList");
    private Task HandleUserClick() => HandleNavLinkClick("user");
    private Task HandleGroceryStoreClick() => HandleNavLinkClick("groceryStore");
    private Task HandleProgramListClick() => HandleNavLinkClick("programList");
} *@